h1, h2, h3, p {
 font-size: 100%;
 font-family: Arial;
 color: white;
 z-index: 100;
}

.parent {
  background-image: url("docs/assets/Wave01Asset.png");
  width: 1920px;
  height: 1080px;
  padding: 0px;
  margin: 0px;
}

.wave02 {
  background: transparent;
  width: 1920px;
  padding-top: 600px;
}

.wave03 {
  background: transparent;
  width: 1920px;
  margin-top: -600px;
}